{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <div class="lg:container lg:mx-auto">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="center">
                        <p>
{#                            <a href="{% url 'bank:user_login' %}">#}
                                <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Button</button>
{#                            </a>#}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{#<a href="login.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>#}
{#            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"  type="submit"><a href="login.html"></a>#}
{#                Login#}
{#            </button>#}
